* {
    box-sizing: border-box;
}



.tekst{
    margin-left: 20px;
    margin-bottom: 30px;
}

.bs-calltoaction{
    margin-top: 50px;
}

.lead{
    text-align:center;
    margin-bottom: 50px;
}

.img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.img-hobby{
    width: 500px;
}

.carousel-caption{
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 50%;
}



.carousel-control-prev
{
    background-color: green;
    width: 2vw;

    }
.carousel-control-next
{
background-color: green;
width: 2vw;
}
.card-text-marge{
    margin-left: 25px;
    margin-right: 25px;
}

.card-title-marge{
    margin-left: 25px;
    margin-right: 25px;
}
.carousel-inner{
    margin-top: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
    border-top: 2px solid green;
    font-size: small;

  }

  .footer_inner_left{
      float: left;
      margin-left: 50px;
  }

  .footer_inner_right{
    float: right;
    margin-right: 40px;
}

.form-group{
    margin-top: 30px;
}